<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    {{>header}}
    <form>
        <input type="text" name="search" id="search" placeholder="location">
        <button>search</button>

    </form>
    <p id="msg1"></p>
    <p id="msg2"></p>
    {{>footer}}

    <script src="/app.js">

    </script>
</body>

</html>